body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.main1 {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(1, 1, 1);
    position: relative;
}

.video {
    overflow: hidden;
    position: relative;
}

.video video {
    margin-bottom: -7.5%;
    margin-top: -7.5%;
    width: 100vw;
    position: relative;
    z-index: 0;
}

.main1 .video-overlay {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    color: white;
    min-width: 100vw;
    text-align: center;
    font-weight: bold;
    margin-top: -7.5%;
}

.overlay-text-header {
    font-size: 6rem;
}

.overlay-text {
    color: white;
    font-size: 4rem;
}

/* .blur-video {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#blur-video {
    filter: blur(20px);
    object-fit: fill;
} */

.main2 {
    min-height: 100vh;
    background-color: rgb(133, 133, 137);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.about {
    grid-area: 1 / 1 / 2 / 2;
}

.pic2 {
    grid-area: 1 / 2 / 3 / 5;
    height: 100px;
    width: auto;
}

.pic2 img {
    height: 500px;
    width: auto;
}

#logo {
    height: 100px;
    width: auto;
}