body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-image: url(forest.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vw;
    justify-content: center;
    align-items: center;
}

#hr-zones-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: forestgreen;
    border-radius: 8px;
    margin-left: 25vw;
    margin-right: 25vw;
    padding: 20px;
}

.form-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

#zone-displays {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: forestgreen;
    margin-left: 25vw;
    margin-right: 25vw;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
}

.zone-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    min-width: 100%;
}

.zone-section-value {
    min-width: 100px;
    min-height: 20px;
    background-color: white;
    color: white;
    border-radius: 8px;
    text-align: center;
}

.zone-section-title, label {
    font-weight: 600;
}